<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="https://is3.cloudhost.id/alfa/smp/public/logo.png" />

  <title>{% block title %}{{ title }}{% endblock %}</title>

  {{ vite_css | safe }}
</head>

<body class="bg-gray-100 h-screen overflow-hidden" x-data="{ sidebarOpen: false }">

  <!-- MOBILE OVERLAY -->
  <div x-show="sidebarOpen" @click="sidebarOpen=false" class="fixed inset-0 bg-black/50 z-30 md:hidden"></div>

  <div class="flex h-full w-full overflow-hidden">

    <!-- SIDEBAR -->
    <aside class="fixed md:static z-40 top-0 left-0 h-full w-64 bg-white border-r
           transform transition-transform duration-200
           md:translate-x-0 overflow-y-auto
           flex-shrink-0" :class="sidebarOpen ? 'translate-x-0' : '-translate-x-full'">

      {% include "layouts/sidebar.html" %}

    </aside>

    <!-- MAIN AREA -->
    <div class="flex-1 flex flex-col min-h-0 w-full">

      <!-- NAVBAR -->
      <header class="h-14 flex items-center px-4 bg-white border-b flex-shrink-0">

        <button @click="sidebarOpen=true" class="md:hidden mr-3">
          ☰
        </button>

        <h1 class="font-semibold">Sistem Informasi Akademik</h1>
        <div class="ml-auto text-sm text-gray-600">SMP Al Musyaffa</div>

      </header>

      <!-- CONTENT -->
      <main class="flex-1 overflow-y-auto min-h-0 p-4 mb-10">

        {% block content %}{% endblock %}

      </main>
      <footer
        class="fixed bottom-0 w-full px-2 py-1 border-t text-slate-600 bg-white/30 backdrop-blur border-emerald-300">
        &copy; SMP Al Musyaffa 2022 - <span id="year"></span> | Elemenka Project
      </footer>

      <script>
        document.getElementById("year").textContent =
          new Date().getFullYear();
      </script>

    </div>

  </div>

  {% include "components/flasher.html" %}
  {% include "components/global-loading.html" %}
  {% include "components/confirm-dialog.html" %}

  {{ vite_js | safe }}

</body>

</html>