<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="https://is3.cloudhost.id/alfa/smp/public/logo56.png" />

  <title>{% block title %}{{ title }}{% endblock %}</title>


  {% block head %}
  {{ vite_css | safe }}
  {% endblock %}
</head>

<body class="bg-gray-100">

  {% block content %}{% endblock %}
  {% include "components/global-loading.html" %}

  {% block scripts %}
  {{ vite_js | safe }}
  {% endblock %}
</body>

</html>