{% extends "layouts/app.html" %}

{% block content %}
<div class="card space-y-6">

        <h1 class="card-header">Biodata Siswa</h1>

        <form class="md:grid gap-4 md:grid-cols-4 space-y-2 md:space-y-0" hx-get="/biodata-siswa/table"
                hx-target="#siswa-table" hx-trigger="keyup changed delay:500ms from:input, change from:select"
                hx-push-url="true">

                {% include "components/tahun.html" %}
                {% include "components/list-kelas.html" %}

                <!-- search -->
                <div class="flex flex-col space-y-1 col-span-2 text-md text-slate-600">
                        <div>search</div>
                        <input type="text" name="search" placeholder="Cari nama siswa..."
                                class="border p-2 rounded-md shadow-md shadow-emerald-400 border-slate-200 focus:ring focus:ring-emerald-300">
                </div>

                <input type="hidden" name="page" value="1">

        </form>

        <div class=" overflow-x-auto" id="siswa-table"
                hx-get="/biodata-siswa/table?tahun={{ data.tahun }}&kelas_id=0&search=&page=1" hx-trigger="load"></div>

</div>
{% endblock %}