<option value="01" {% if data.lab_kode == "01" %}selected{% endif %}>Lab 1</option>
<option value="02" {% if data.lab_kode == "02" %}selected{% endif %}>Lab 2</option>
<option value="03" {% if data.lab_kode == "03" %}selected{% endif %}>Lab 3</option>
<option value="04" {% if data.lab_kode == "04" %}selected{% endif %}>Lab 4</option>
<option value="05" {% if data.lab_kode == "05" %}selected{% endif %}>Lab 5</option>
<option value="06" {% if data.lab_kode == "06" %}selected{% endif %}>Lab 6</option>
<option value="07" {% if data.lab_kode == "07" %}selected{% endif %}>Lab 7</option>
<option value="08" {% if data.lab_kode == "08" %}selected{% endif %}>Lab 8</option>
<option value="09" {% if data.lab_kode == "09" %}selected{% endif %}>Lab 9</option>
<option value="10" {% if data.lab_kode == "10" %}selected{% endif %}>Lab 10</option>
<option value="11" {% if data.lab_kode == "11" %}selected{% endif %}>Lab 11</option>
<option value="12" {% if data.lab_kode == "12" %}selected{% endif %}>Lab 12</option>
<option value="13" {% if data.lab_kode == "13" %}selected{% endif %}>Lab 13</option>
<option value="14" {% if data.lab_kode == "14" %}selected{% endif %}>Lab 14</option>
<option value="15" {% if data.lab_kode == "15" %}selected{% endif %}>Lab 15</option>
